.main-content
  != messages()
  - if (post.errors)
    div(class='error')
      ul
        - each err in post.errors
          li= err
  form(action='/post/#{post.titleUrl}/edit', method='POST')

    input(type='hidden', name='_csrf', value=csrfToken)
    input(type='hidden', name='_method', value='PUT')

    div
      label(for='postTitle') Naslov: 
        span.required *
      input(type='text', id='postTitle', name='post[title]', value=post.title)
    div
      label(for='postContent') Sadržaj: 
        span.required *
      textarea(id='postContent', name='post[content]')= post.content
    div
      label(for='postTags') Tagovi (odvojiti zarezima): 
      input(type='text', id='postTags', name='post[tags]', value=post.tags)

    input(type='submit', value='Sačuvaj', class='submit')
    a(href='/post/#{post.titleUrl}')
      input(type='button', value='Odustani', class='submit')