article.post
  .main-content
    h1 Editovanje: #{post.title}
    form(action='/post/#{post.titleUrl}/edit', method='POST', class='edit')
      - if (post.errors)
        div(class='error')
          ul
            - each err in post.errors
              li= err

      input(type='hidden', name='_csrf', value=csrfToken)
      input(type='hidden', name='_method', value='PUT')

      div
        label(for='postTitle') Naslov: 
        input(type='text', id='postTitle', name='post[title]', value=post.title)
      div
        label(for='postContent') Sadrzaj: 
        textarea(id='postContent', name='post[content]')= post.content
      div
        label(for='postTags') Tagovi 
          span (razdvojiti ih zarezom)
        input(type='text', id='postTags', name='post[tags]', value=post.tags)
      .no-border
        input(type='submit', value='Sacuvaj', class='button')
