.main-content
  != messages()
  a(href='/post/new', class='align-right') Napiši članak
- each post in posts
  article.post
    .primary
      h3
        a(href='/post/#{post.titleUrl}')= post.title
      p.post-info tagovi: 
        - each tag, i in post.tags
          a(href='/search/' + encodeURIComponent(tag)) #{tag}
          - if (i < post.tags.length - 1)
            | , 

      p!= post.content
      p
        a(href='/post/#{post.titleUrl}', class='more') Ceo tekst
      p
        a(href='#top', class='back-to-top') vrh
    aside
      .post-meta
        ul
          li.user
            a(href='/user/#{post._owner.name.username}', title='Napisao #{post._owner.name.username}')= post._owner.name.full || post._owner.name.username
          li.time= post.createdAtFormatted
          li.comment
            a(href='/post/#{post.titleUrl}#comments') Komentari #{post.commentsCount}
          li.permalink
            a(href='/post/#{post.titleUrl}') Direktan link
          - if (session.user && session.user._id == post._owner || isAdmin)
            li
              a(href='/post/#{post.titleUrl}/edit') Edituj