article.post.single
  .main-content
    != messages()
    #ajaxResponse
    h3
      a(href='/post/#{post.titleUrl}')= post.title
    .post-info
      | Napisao 
      a(href='/user/#{post._owner.name.username}')= post._owner.name.full || post._owner.name.username
      | , dana #{post.createdAtFormatted}
      span(style='float: right;')
        a(href='/post/#{post.titleUrl}/download', id='download') Preuzmi
        br
        span.download-box(style='display: none; float: right; background: #F3F4F5; border: 1px solid #E4E6E9; padding: 0 5px;')
          a(href='/post/#{post.titleUrl}/download') Kao HTML format 
          br
          a(href='/post/#{post.titleUrl}.md/download') Kao Markdown format
          br
          a(href='/post/#{post.titleUrl}.pdf/download') Kao PDF format
      - if (canEditPost)
        span.small
          a(href='/post/#{post.titleUrl}/edit') &nbsp;&nbsp;Izmeni 
          | |  
          a(href='#', id='deletePost') Obriši
      span.small.clear(style='clear: none;')
        | &nbsp;&nbsp;Poslednji put ažurirano: #{post.updatedAtFormatted}
      span.small.clear(style='clear: none;')
        | &nbsp;&nbsp;Tagovi: 
        - each tag, i in post.tags
          a(href='/search/' + encodeURIComponent(tag)) #{tag}
          - if (i < post.tags.length - 1)
            | , 

    .markdown-content!= post.content
    a(href='#top', class='back-to-top') vrh

    // twitter, facebook widgets
    a(href='https://twitter.com/share', class='twitter-share-button', data-size='small', data-text='#{post.title}', data-via='NodeSrbija') Tweet
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    .fb-like(data-href='http://nodejs.rs/post/#{post.titleUrl}', data-send='true', data-layout='button_count', data-width='450', data-show-faces='false')
    // end of twitter, facebook widgets

- if (session.user)
  != partial('_addComment')
- else
  a(href='/login?returnUrl=' + encodeURIComponent('/post/#{post.titleUrl}#add-comment')) Dodaj komentar

#comments.post-bottom-section  
  h3 Komentari korisnika
  .primary
    - if (post.comments.length)
      ol.commentlist
        - each comment in post.comments
          li(id='comment-#{comment._id}', class=comment.cssClass)
            .comment-info
              a(href='/user/#{comment._ownerUsername}')
                img(src='/images/users/#{comment._ownerPhoto}', title=comment._ownerPhotoName)
              cite
                a(href='/user/#{comment._ownerUsername}')= comment._ownerFullName || comment._ownerUsername
                |  je napisao:
                br
                span.comment-data
                  a(href='/post/#{post.titleUrl}#comment-#{comment._id}')= comment.createdAtFormatted
                  - if (canEditPost || session.user && session.user._id == comment._owner)
                    span.small(style='padding-left: 20px;')
                      a(href='#', rel="#{comment._id}", class='editComment')  Izmeni 
                      | | 
                      a(href='#', rel='#{comment._id}', class='deleteComment') Obriši
            .comment-text
              != comment.text
    - else
      //- jade bug (gh-628)
      <blockquote>Još uvek niko nije ostavio komentar.</blockquote>

    a(href='#top', class='back-to-top') vrh

script(type='text/javascript')
  $('#deletePost').on('click', function (e) {
    e.preventDefault();
    confirm('Da li sigurno želite da obrišete vaš članak?')
    ?
    $.ajax({
      url: '/post/#{post._id}/delete',
      type: 'POST',
      data: { 
        '_method': 'DELETE',
        '_csrf': '#{csrfToken}'
      },
      success: function (response) {
        window.location.href = '/post';
      },
      error: function (xhr) {
        console.log(xhr.responseText);
      }
    })
    : false;
  });

script(type='text/javascript')
  $('.deleteComment').on('click', function (e) {
    var self = this;
    e.preventDefault();
    confirm('Da li sigurno želite da obrišete vaš komentar?')
    ?
    $.ajax({
      url: '/post/#{post._id}/comment/' + $(this).attr('rel') + '/delete',
      type: 'POST',
      data: { 
        '_method': 'DELETE',
        '_csrf': '#{csrfToken}'
      },
      success: function (response) {
        $('#ajaxResponse').attr('id', 'messages');
        $('#messages').html(
          '<ul class="success"><li>' + response + '</li></ul>'
        );
        $(self).parents('li.depth-1').slideUp(50, function () {
          $(self).remove();
          $("html, body").animate({
              scrollTop: 0
            }, {
            duration: 400,
            easing: "swing"
          });
        });
      },
      error: function (xhr) {
        console.log(xhr.responseText);
      }
    })
    : false;
  });

script(type='text/javascript')
  $('.editComment').toggle(function () {
    var self = this;
    $.ajax({
      url: '/post/#{post._id}/comment/' + $(this).attr('rel') + '/edit',
      type: 'POST',
      data: {
        '_method': 'PUT',
        '_csrf': '#{csrfToken}',
        'get': true
      },
      success: function (r) {
        var commentBox = $(self).parents('li.depth-1').find('.comment-text');
        commentBox.html('<textarea>' + r + '</textarea>');
        $(self).text('Sačuvaj ');
        commentBox.find('textarea').focus();
      },
      error: function (xhr) {
        console.log(xhr.responseText);
      }  
    });
  }, function () {
    var self = this;
    var commentBox = $(this).parents('li.depth-1').find('.comment-text');
    var newText = commentBox.find('textarea').val();
    $.ajax({
      url: '/post/#{post._id}/comment/' + $(this).attr('rel') + '/edit',
      type: 'POST',
      data: {
        '_method': 'PUT',
        '_csrf': '#{csrfToken}',
        'text': newText
      },
      success: function (r) {
        $(self).text('Izmeni ');
        $('#ajaxResponse').attr('id', 'messages');
        if (r.err) {
          $('#messages').html(
            '<ul class="error"><li>' + r.err + '</li></ul>'
          );
        } else {
          $('#messages').html(
            '<ul class="success"><li>' + r.msg + '</li></ul>'
          );
          newText = r.text;
        }
        commentBox.html(newText);
        commentBox.find('pre code').each(function (i, e) {
          hljs.highlightBlock(e);
        });
        $("html, body").animate({
            scrollTop: 0
          }, {
          duration: 400,
          easing: "swing"
        });
      },
      error: function (xhr) {
        console.log(xhr.responseText);
      }
    });
  });

  $('#download').toggle(function () {
    $('.download-box').show(200);
  }, function () {
    $('.download-box').hide(200);
  });

  $('.download-box').closeOnEscape();

  $('.raw-file').live('click', function (e) {
    e.preventDefault();
    var file = $(this).attr('href').replace('#', '');
    window.open('/post/#{post.titleUrl}/raw/' + file, '_blank');
  });

  // move up because the floating menu
  $(function () {
    setTimeout(function () {
      var hash = window.location.hash;
      if (hash && hash !== '#') { // ie7
        var height = $('nav').height();
        window.scrollBy(0, -height);
      }
    }, 0);
  });