h6 Napisao: #{post.owner.name.full}
h6 Dana: #{post.createdAt}
h3= post.title
a(href='/post/#{post.titleUrl}/download') Preuzmi
br
- if (canEditPost)
  a(href='/post/#{post.titleUrl}/edit') Edituj
  br
  a(href='#', id='deletePost') Obrisi

!= post.content

- if (session.user)
  != partial('_addComment')
- else
  a(href='/login?returnUrl=' + encodeURIComponent('/post/#{post.titleUrl}')) Dodaj komentar



  
h3 Komentari korisnika:
- each comment in post.comments
  div(style='background: lightgreen;', class='comment')
    = comment.text
    br
    small Napisao 
      a(href='/user/#{comment._ownerUsername}') #{comment._ownerFullName}
    br
    small Dana #{comment.createdAt}
    br

    - if (canEditPost || session.user && session.user._id == comment._owner)
      a(href='#', id="#{comment._id}", class='editComment') Edituj komentar
      br
      a(href='#', id='#{comment._id}', class='deleteComment') Obrisi komentar
  hr

script(type='text/javascript')
  $('#deletePost').click(function () {
    confirm('Da li sigurno zelite da obrisete post?')
    ?
    $.ajax({
      url: '/post/#{post._id}/delete',
      type: 'POST',
      data: { 
        '_method': 'DELETE',
        '_csrf': '#{csrfToken}'
      },
      success: function (response) {
        window.location.href = '/post';
      },
      error: function (xhr) {
        console.log(xhr.responseText);
      }
    })
    : false;
  });

script(type='text/javascript')
  $('.deleteComment').click(function () {
    confirm('Da li sigurno zelite da obrisete vas komentar?')
    ?
    $.ajax({
      url: '/post/#{post._id}/comment/' + $(this).attr('id') + '/delete',
      type: 'POST',
      data: { 
        '_method': 'DELETE',
        '_csrf': '#{csrfToken}'
      },
      success: function (response) {
        window.location.href = '/post/#{post.titleUrl}';
      },
      error: function (xhr) {
        console.log(xhr.responseText);
      }
    })
    : false;
  });

script(type='text/javascript')
  $('.comment').click(function () {
    alert('uskoro....')
  });

