p
  label Vreme: 
  a(href=commentUrl)= date
  br
  label Autor: 
  a(href='http://nodejs.rs/user/#{username}')= author
  br
  label Članak: 
  a(href='http://nodejs.rs/post/#{titleUrl}')= title
  br
  label Link: 
  a(href=commentUrl)= commentUrl
br
br
div(style='background: #EDEDED; padding: 5px;')!= commentText
br
br
i
  | Node Srbija - 
  a(href='http://nodejs.rs') http://nodejs.rs