.about-me
  h3 Autor: 
    a(href='/user/#{data.user.name.username}')= data.user.name.username
  p
    a(href='/user/#{data.user.name.username}')
      img(src='/images/users/#{data.user.photo.small}', class="align-left", title=data.user.photo.name)
    = data.user.bio.about

  .clearfix

  p.small
    label Website/Blog:
    br
    a(href='#{data.user.bio.website}')= data.user.bio.website
    br
    label GitHub:
    br
    a(href='#{data.user.bio.github}')= data.user.bio.github
    br  
    label Twitter:
    br
    a(href='#{data.user.bio.twitter}')= data.user.bio.twitter

.sidemenu.popular
  h3 Članci od ovog autora
  ul
    - each post in data.posts.author
      li
        a(href='/post/#{post.titleUrl}', title=post.title)= substring(post.title)
.sidemenu.popular
  h3 Najnoviji članci
  ul
    - each post in data.posts.newest
      li
        a(href='/post/#{post.titleUrl}', title=post.title)= substring(post.title)

.sidemenu.popular!= partial('site/_aboutShort')