!!!
html
  head
    - var title = title && title + ' - Node Srbija' || 'Node Srbija'
    title= title

    meta(charset='utf-8')
    meta(name='title', content='Node.js zajednica Srbije')
    meta(name='author', content='Žarko Stanković')
    meta(name='keywords', content='node.js, node, javascript, srbija, framework, web, ajax, express, mongoose, chat, mongodb, v8, real time')
    meta(name='description', content='Sajt srpske Node.js zajednice.')

    meta(property='fb:admins', content='zarko.stankovic.142,feroc1ty,vel0ciraptor')
    meta(property='fb:app_id', content='441849289192947')

    - var og = og || {};
    meta(property='og:type', content='website')
    meta(property='og:url', content= og.url || 'http://nodejs.rs#{currentUrl}')
    meta(property='og:image', content='http://nodejs.rs/images/logo.png')
    meta(property='og:title', content= og.title || 'Node.js zajednica Srbije')
    meta(property='og:description', content= og.description || 'Sajt srpske Node.js zajednice.')

    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/script.min.js')

    script(type='text/javascript', src='/javascripts/highlight/highlight.pack.js')
    script(type='text/javascript')
      hljs.initHighlightingOnLoad();

    link(rel='stylesheet', href='/javascripts/highlight/styles/github.min.css', type='text/css')
    link(rel='stylesheet', type='text/css', media='screen', href='/stylesheets/coolblue.min.css')

    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32370789-1']);
      _gaq.push(['_setDomainName', 'nodejs.rs']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body(id='top')
    #fb-root
    script(type='text/javascript')
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=441849289192947";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #header-wrap
      header
        hgroup
          h1: a(href='/') Node Srbija
        nav
          #nav-wrap
            ul
              li(id= currentUrl === '/' ? 'current' : null): a(href='/') Početna
              li(id= /\/post(?!.*\/new$)/.test(currentUrl) ? 'current' : null): a(href='/post') Članci
              li(id= currentUrl === '/post/new' ? 'current' : null): a(href='/post/new') Napiši članak
              li(id= currentUrl === '/about' ? 'current' : null): a(href='/about') O projektu
              li: a(href='http://nodejs.org/api/', target='_blank') Dokumentacija
              - if (isAdmin)
                li(id= currentUrl === '/admin' ? 'current' : null): a(href='/admin') Admin
              - if (!session.user)
                li(id= currentUrl === '/register' ? 'current' : null ): a(href='/register') Registracija
                li(id= currentUrl === '/login' ? 'current' : null): a(href='/login') Logovanje
              - else
                li(id= ~currentUrl.indexOf('/user/#{session.user.name.username}') ? 'current' : null): a(href='/user/#{session.user.name.username}') Profil
                li(id= currentUrl === '/logout' ? 'current' : null): a(href='/logout') Izloguj se
            .subscribe
              a(href='/feed.atom').social.rss
              a(href='http://github.com/ManInTheBox/nodejs.rs', target='_blank').social.github
              a(href='http://twitter.com/NodeSrbija', target='_blank').social.twitter

        form(action='/search', id='quick-search')
          fieldset(class='search')
            input(class='tbox', type='text', name='q')
            button(class='btn', type='submit', value='search')

    #content-wrap
      #content.clearfix
        #main!= body
        #sidebar!= partial(sidebar.viewFile || '_sidebar', { data: sidebar.data })
    footer
      #footer
        p.footer-left
          span
            | Copyright &copy; 2012 
            a(href='http://github.com/ManInTheBox', target='_blank') Žarko Stanković
            br
            | Nodejs.rs izrađen sa 
            a(href='http://nodejs.org', target='_blank') Node.js
            |  koristeći 
            a(href='http://expressjs.com', target='_blank') Express
            | , 
            a(href='http://jade-lang.com', target='_blank') Jade
            |  i 
            a(href='http://mongoosejs.com', target='_blank') Mongoose
            | . Hostovano na 
            a(href='http://nodejitsu.com', target='_blank') Nodejitsu
            |  platformi.
            br
            a(href='http://nodejs.org', target='_blank') Node.js 
            | je vlasništvo  
            a(href='http://www.joyent.com', target='_blank') Joyent, Inc
            | . 
        p.footer-right
          a(href='mailto:nodesrbija@gmail.com') Kontakt | 
          a(href='http://github.com/ManInTheBox/nodejs.rs', target='_blank') GitHub | 
          a(href='http://github.com/ManInTheBox/nodejs.rs/issues', target='_blank') Prijavi bug
