!!!
html
  head
    - var title = title || 'Node Srbija'
    title= title
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/script.js')

    //link(rel='stylesheet', href='/stylesheets/blueprint/screen.css', type='text/css', media='screen, projection')
    //link(rel='stylesheet', href='/stylesheets/blueprint/print.css', type='text/css', media='print')
    //link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    //if lt IE 8
      //link(rel='stylesheet', href='/stylesheets/blueprint/ie.css', type='text/css', media='screen, projection')

    script(type='text/javascript', src='/javascripts/highlight/highlight.pack.js')
    script(type='text/javascript')
      hljs.initHighlightingOnLoad();
    link(rel='stylesheet', href='/javascripts/highlight/styles/github.css', type='text/css')

    link(rel='stylesheet', type='text/css', media='screen', href='/stylesheets/coolblue.css')

  body(id='top')
    #header-wrap
      header
        hgroup
          h1: a(href='/') Node Srbija
          h3 ovde se uci...
        nav
          ul
            li(id= currentUrl === '/' ? 'current' : null): a(href='/') Pocetna
            li(id= ~currentUrl.indexOf('/post') ? 'current' : null): a(href='/post') Turorijali
            - if (!session.user)
              li(id= ~currentUrl.indexOf('/register') ? 'current' : null ): a(href='/register') Registracija
              li(id= ~currentUrl.indexOf('/login') ? 'current' : null): a(href='/login') Logovanje
            - else
              li(id= ~currentUrl.indexOf('/user/#{session.user.name.username}') ? 'current' : null): a(href='/user/#{session.user.name.username}') Profil
              li(id= ~currentUrl.indexOf('/logout') ? 'current' : null): a(href='/logout') Izloguj se
        .subscribe
          span Subscribe
          a(href='/') email
          a(href='/') rss

        form(action='/search/', id='quick-search')
          fieldset(class='search')
            input(class='tbox', type='text', name='term')
            button(class='btn', type='submit', value='search')

    #content-wrap
      #content.clearfix
        #main!= body
        #sidebar!= partial(sidebar.viewFile || '_sidebar', { data: sidebar.data })
    footer
      p.footer-left
        span
          | Copyright &copy; 2012 
          a(href='http://github.com/ManInTheBox', target='_blank') Žarko Stanković
          br
          | Nodejs.rs izrađen sa
          a(href='http://nodejs.org', target='_blank') Node.js
          |  koristeći 
          a(href='http://expressjs.com', target='_blank') Express
          | , 
          a(href='http://jade-lang.com', target='_blank') Jade
          |  i 
          a(href='http://mongoosejs.com', target='_blank') Mongoose
          | . Hostovano na 
          a(href='http://nodejitsu.com') Nodejitsu
          | .
          br
          a(href='http://nodejs.org', target='_blank') Node.js 
          | je vlasništvo  
          a(href='http://www.joyent.com', target='_blank') Joyent, Inc
          | . 
      p.footer-right
        a(href='mailto:stankovic.zarko@gmail.com') Kontakt | 
        a(href='http://github.com/ManInTheBox/nodejs.rs', target='_blank') GitHub | 
        a(href='http://github.com/ManInTheBox/nodejs.rs/issues', target='_blank') Prijavi bug
