form(action='/user/#{user.name.username}/edit', method='POST')
  
  input(type='hidden', name='_csrf', value=csrfToken)
  input(type='hidden', name='_method', value='PUT')
          
  label(for='user_name_first') Ime: 
  input(type='text', id='user_name_first', name='user[name][first]', value=user.name.first)
  br
  label(for='user_name_last') Prezime: 
  input(type='text', id='user_name_last', name='user[name][last]', value=user.name.last)
  br
  label(for='user_name_username') Korisnicko ime:
  input(type='text', id='user_name_username', name='user[name][username]', value=user.name.username)
  br
  label(for='user_email') E-mail: 
  input(type='text', id='user_email', name='user[email]', value=user.email)
  br
  label(for='user_password') Lozinka: 
  input(type='password', id='user_password', name='user[password]', value=user.password)
  br
  input(type='submit', value='Sacuvaj')
