.main-content
  != messages()
  - if (user.errors)
    div(class='error')
      ul
        - each err in user.errors
          li= err
  form(action='/user/#{user.name.username}/edit', method='POST', enctype='multipart/form-data')

    input(type='hidden', name='_csrf', value=csrfToken)
    input(type='hidden', name='_method', value='PUT')
    
    div
      label(for='userNameUsername') Korisnicko ime: 
        span.required *
      input(type='text', id='userNameUsername', name='user[name][username]', value=user.name.username)
    div
      label(for='userEmail') E-mail: 
        span.required *
        label(style='color: #666; font-size: 0.6em; font-weight: normal;', for='userPublicEmail')
          | Objavi javno (biće vidljiv na Vašoj profil strani): 
          input(style='width: auto; margin: 0 0 0 20px;', type='checkbox', id='userPublicEmail', name='user[publicEmail]', checked= user.publicEmail ? 'checked' : null)
      input(type='text', id='userEmail', name='user[email]', value=user.email, disabled='disabled')
    div
      label(for='userPassword') Nova lozinka: 
      input(type='password', id='userPassword', name='user[password]', value=user.password)
    div
      label(for='userPasswordRepeat') Ponovite lozinku: 
      input(type='password', id='userPasswordRepeat', name='user[passwordRepeat]', value=user.passwordRepeat)
    div
      label(for='userNameFirst') Ime: 
      input(type='text', id='userNameFirst', name='user[name][first]', value=user.name.first)
    div
      label(for='userNameLast') Prezime: 
      input(type='text', id='userNameLast', name='user[name][last]', value=user.name.last)
    div
      label(for='userPhoto') Fotografija: 
      input(type='file', id='userPhoto', name='user[photo]')
    div
      label(for='userBioCompany') Kompanija: 
      input(type='text', id='userBioCompany', name='user[bio][company]', value=user.bio.company)
    div
      label(for='userBioWebsite') Website/Blog: 
      input(type='text', id='userBioWebsite', name='user[bio][website]', value=user.bio.website)
    div
      label(for='userBioGithub') GitHub: 
      input(type='text', id='userBioGithub', name='user[bio][github]', value=user.bio.github)
    div
      label(for='userBioTwitter') Twitter: 
      input(type='text', id='userBioTwitter', name='user[bio][twitter]', value=user.bio.twitter)
    div
      label(for='userBioLocation') Lokacija: 
      input(type='text', id='userBioLocation', name='user[bio][location]', value=user.bio.location)
    div
      label(for='userBioAbout') O meni: 
      textarea(id='userBioAbout', name='user[bio][about]')=user.bio.about

    input(type='submit', value='Sačuvaj izmene', class='submit')
    a(href='/user/#{user.name.username}')
      input(type='button', value='Odustani', class='submit')      