form(action='/user/#{user.name.username}/edit', method='POST')
  - if ('undefined' !== typeof user.errors)
    div(class='error')
      ul
        - each err in user.errors
          li= err
  
  input(type='hidden', name='_csrf', value=csrfToken)
  input(type='hidden', name='_method', value='PUT')
          
  label(for='userNameFirst') Ime: 
  input(type='text', id='userNameFirst', name='user[name][first]', value=user.name.first)
  br
  label(for='userNameLast') Prezime: 
  input(type='text', id='userNameLast', name='user[name][last]', value=user.name.last)
  br
  label(for='userNameUsername') Korisnicko ime:
  input(type='text', id='userNameUsername', name='user[name][username]', value=user.name.username)
  br
  label(for='userEmail') E-mail: 
  input(type='text', id='userEmail', name='user[email]', value=user.email, disabled='disabled')
  br
  label(for='userPassword') Nova lozinka: 
  input(type='password', id='userPassword', name='user[password]', value=user.password)
  br
  label(for='userPasswordRepeat') Ponovite lozinku: 
  input(type='password', id='userPasswordRepeat', name='user[passwordRepeat]', value=user.passwordRepeat)
  br
  input(type='submit', value='Sacuvaj izmene')