.main-content
  != messages()
  h3
    = user.name.username
    - if (session.user && session.user._id == user._id)
      a(href='/user/#{user.name.username}/edit')
        em.small &nbsp;Izmeni

  img(src='/images/users/#{user.photo.large}', class='align-left', title=user.photo.name)


  .desc
    label Ime: 
    = user.name.full
  .desc
    label GitHub: 
      a(href='#{user.bio.github}', target='_blank')= user.bio.github
  .desc
    label Twitter: 
      a(href='#{user.bio.twitter}', target='_blank')= user.bio.twitter
  .desc
    label Website/Blog: 
      a(href='#{user.bio.website}', target='_blank')= user.bio.website
  .desc
    label Lokacija: 
    = user.bio.location
  .desc
    label Kompanija: 
    = user.bio.company
  .desc
    label E-mail: 
      a(href='mailto:#{user.email}')= user.email

  .clearfix

  //- jade bug (gh-628)
  - var bio = user.bio.about || 'Korisnik nije ostavio podatke.';
  <blockquote>#{bio}</blockquote>